#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config OTA_VERIFY
	tristate "OTA image verify"
	default n
	depends on CRYPTO_MBEDTLS
	depends on LIB_ZLIB
	---help---
		This option will enable a upgrade package verify.

if OTA_VERIFY

config OTA_VERIFY_PROGNAME
	string "Program name"
	default "verify"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config OTA_VERIFY_STACKSIZE
	int "Upgrade package verify stack size"
	default DEFAULT_TASK_STACKSIZE
	---help---
		The stack size to use the upgrade package verify task.  Default: 2048

config OTA_VERIFY_PRIORITY
	int "upgrade package verify priority"
	default 100
	---help---
		The priority to use the upgrade package verify task.  Default: 100
endif
