#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config OTA_UI
	bool "Enable OTA UI module"
	default n
	---help---
		This option will display upgrade progress on panel.

config UTILS_AVB_VERIFY
	tristate "AVB verification tools"
	default n
	depends on KVDB
	depends on LIB_AVB
	---help---
		Enable AVB verification tools

if UTILS_AVB_VERIFY

config UTILS_AVB_VERIFY_PROGNAME
	string "Program name of AVB verification tools"
	default "avb_verify"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config UTILS_AVB_VERIFY_PRIORITY
	int "Priority of AVB verification tools"
	default 100

config UTILS_AVB_VERIFY_STACKSIZE
	int "Stack size of AVB verification tools"
	default 4096

endif

config OTA_VERIFY
	tristate "OTA image verify"
	default n
	depends on CRYPTO_MBEDTLS
	depends on LIB_ZLIB
	---help---
		This option will enable a upgrade package verify.

if OTA_VERIFY

config OTA_VERIFY_PROGNAME
	string "Program name"
	default "verify"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config OTA_VERIFY_STACKSIZE
	int "Upgrade package verify stack size"
	default 4096
	---help---
		The stack size to use the upgrade package verify task.  Default: 4096

config OTA_VERIFY_PRIORITY
	int "upgrade package verify priority"
	default 100
	---help---
		The priority to use the upgrade package verify task.  Default: 100
endif
